@page
@model SIMSProject.Pages.Students.DeleteModel
@{
    ViewData["Title"] = "Delete Student";
}

<h1>Delete Student</h1>
<h3>Are you sure you want to delete @Model.Student.FirstName @Model.Student.LastName?</h3>
<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="/Index" class="btn btn-secondary">Cancel</a>
</form>